button.nav-link {
 background: cornsilk;
 border-radius: 10;
 border: none;

 &:focus {
    outline: none;
 }

 &:active:hover {
    color: red;
 }

 &:active{
   outline: none;
 }

 &:disabled:not(.active){
   color: black;
 }
}