<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3"> Register to IRIS SHOP</p>
          </div>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">*</p>
          </div>
          
          <app-text-input formControlName = "displayName" [label] = "'Display Name'"></app-text-input>
          <app-text-input formControlName = "email" [label] = "'Email Address'"></app-text-input>
          <app-text-input formControlName = "password" [label] = "'Password'" [type]="'password'"></app-text-input>


          <ul class="text-danger" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
          </ul>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 6rem; padding-right: 6rem;">Register</button>
           </div>
        </form>
      </div>
    </div>
  </div>