<div class="mt-4" [formGroup]="checkoutForm">
    <h4>Choose your delivery method</h4>
    <div class="d-flex justify-content-center">
        <div class="row ml-5" formGroupName="deliveryForm">
            <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
                <br>
                <input type="radio"
                        (click)="setShippingPrice(method)"
                        id = {{method.id}}
                        value = {{method.id}}
                        formControlName = "deliveryMethod"
                        class = "custom-control-input"
                        margin>
                <label for={{method.id}} class = "custom-control-label">
                    <strong>{{method.shortName}} - {{method.price | currency}}</strong>
                </label>
                <br>
                <span class="label-description">{{method.description}}</span>
            </div>
        </div>
    </div>
</div>
<br>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-6">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address 
    </button>
    <button [disabled] = "checkoutForm.get('deliveryForm').invalid" class="btn btn-primary" cdkStepperNext>
        Go to Review <i class="fa fa-angle-right"></i>
    </button>
</div>